/* global-setup */
*{
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

/* flex-box elements*/
.flexbox-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* -- */

/* font size */
.font-24{
  font-size: 24px; 
  font-weight: 500;
}

.font-16-b{
  font-size: 16px; 
  font-weight: 500;
}

.font-16-t{
  font-size: 16px; 
  font-weight: 300;
}

.font-14{
  font-size: 14px; 
  font-weight: 300;
}
/* -- */

/* icon size */
.fa-solid{
  color:black;
  font-size: 6vh;
}

.fa-brands{
  color: white;
  font-size: 4vh;
}
/* -- */

/* defualt black button */
.black-button{
  color: white;
  background-color: rgb(46, 46, 46);
  max-width: 25vw;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.black-button:hover{
  opacity: 0.8;
}
/* -- */

/* gradient box */
.main-bg{
  display: flex;
  background: rgb(34,71,195);
  background: linear-gradient(0deg, rgb(96, 52, 255) 0%, rgba(45,212,253,1) 100%);
  width: 100;
  height: 50vh;
}

.main-box{
  max-width: 480px;
  min-width: 480px;
  margin: 40px 0px 0px 60px;
}

.main-box *{
  color: white;
  margin: 6px;
}

.img-iphone{
  position: relative;
  height: 100%;
  left: 15vw;
}
/* -- */

.white-box-l{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.white-box-m{
  height: 35vh;
}

.white-box-s{
  height: 20vh;
}

.blue-box{
  background-color: rgb(96, 52, 255);
  height: 45vh;
  color: white;
}

.blue-box *{
  text-align: center;
}

.icon-box{
  margin: 5vh 10vh 0 0;
}

.icon-container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 15vh;
  border: none;
  border-radius: 50%;
  margin-bottom: 1vh;
}

.icon-container2{
  background-color: rgb(88, 73, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  border: none;
  border-radius: 50%;
}

.portfolio-container{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  width: 35vw;
  height: 40vh;
}

.portfolio-background-1{
  position: absolute;
  background-image: url(IMG/portfolio-1.jpg);
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.bg-effect{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.4s;
}

.portfolio-container:hover .bg-effect{
  border: 30px solid white;
}

.portfolio-background-2{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(IMG/portfolio-2.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.portfolio-background-3{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(IMG/portfolio-3.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.portfolio-background-4{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(IMG/portfolio-4.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.portfolio-content{
  position: relative;
  color:white;
}

.copyright-container{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  div{
    text-align: center;
  }
  .font-24{
    font-size: 16px; 
    font-weight: 500;
  }
  
  .font-16-b{
    font-size: 14px; 
    font-weight: 500;
  }
  
  .font-16-t{
    font-size: 14px; 
    font-weight: 300;
  }
  
  .font-14{
    font-size: 12px; 
    font-weight: 300;
  }

  .fa-solid{
    color:black;
    font-size: 4vh;
  }
  
  .fa-brands{
    color: white;
    font-size: 2vh;
  }

  .blue-box{
    height: 70vh;
  }

  .blue-box *{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .icon-box{
    margin: 5vh 4vh 0 4vh;
  }

  .icon-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
  }

  .main-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    margin: 40px 0px 0px 0px;
  }

  .img-iphone{
    position: static;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .img-iphone *{
    width: 50vw;
  }
}